$primary-color: #05c7f2;
$secondary-color: #262a73;
$tertiary-color: #2e3f8e;
$accent-color: #1e2159;

$primary-mint-color: #05c7f2;
$secondary-mint-color: #0fa644;
$tertiary-mint-color: #3365a6;
$accent-mint-color: #03a688;

$buttonRadius: 24px;
$labelPaddingX: $buttonRadius * 1;
$labelBorderRadius: 2px;
$labelFade: 0.1s;
$colorButton: $primary-color;
$colorButtonHover: $secondary-color;
$colorText: #333;
$colorHeadingBackground: #555;

$bg-color-1: #f2f2f2;
$bg-color-2: rgb(221, 221, 221);

.info-header {
  background: $tertiary-color;
}

@mixin mq-xs {
  @media (min-width: 320px) {
    @content;
  }
}

@mixin mq-sm {
  @media (min-width: 480px) {
    @content;
  }
}

@mixin mq-md {
  @media (min-width: 720px) {
    @content;
  }
}

@mixin mq-lg {
  @media (min-width: 1000px) {
    @content;
  }
}

$background: #f7f7f7;
$box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
$border: 1px solid rgba(191, 191, 191, 0.4);
$items: 5;
$rows: ceil($items/2);

/* Card sizing */

$card-height: 400px;
$card-width: 450px;
$inner-margin: 15px;
$number-size: 35px;
$stagger: 180px;
$outer-margin: 90px;
$marker-size: 9px;

/* Colors */

$steps: $primary-color;
$colors: $primary-color, $secondary-color, $tertiary-color, $accent-color;
$timeline: #bdbdbd;

$container-height: $rows * ($card-height + $outer-margin) + $stagger;
$container-width: $card-width * 2 + $outer-margin * 3;
$head-height: $number-size + 50;
$body-height: $card-height - $head-height;
$marker-dist: $card-width + $outer-margin/2 - $marker-size/2;

@include mq-lg {
  %arrow {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
  %marker {
    position: absolute;
    content: "";
    width: $marker-size;
    height: $marker-size;
    background-color: $timeline;
    border-radius: $marker-size;
    box-shadow: 0px 0px 2px 8px $background;
  }
}

/* Some Cool Stuff */

$counter: $items - $rows + 2;
@for $i from 1 through $rows {
  .timeline-card:nth-child(#{$i*2-1}) {
    order: $i;
  }
  .timeline-card:nth-child(#{$i*2}) {
    order: $counter;
  }
  $counter: $counter + 1;
}

#timeline {
  padding: 100px 0;
  border-top: $border;
  border-bottom: $border;
  h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: 20px;
  }
  p.leader {
    text-align: center;
    max-width: 90%;
    margin: auto;
    margin-bottom: 45px;
  }
  .timeline-card-wrapper {
    position: relative;
    margin: auto;
    @include mq-lg {
      display: flex;
      flex-flow: column wrap;
      width: $container-width;
      height: $container-height;
      margin: 0 auto;
    }
    &::after {
      z-index: 1;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      border-left: $border;
      @include mq-lg {
        border-left: 1px solid $timeline;
      }
    }
  }
  .timeline-card {
    position: relative;
    display: block;
    margin: 10px auto 40px;
    max-width: 94%;
    z-index: 2;
    @include mq-sm {
      max-width: 60%;
      box-shadow: $box-shadow;
    }
    @include mq-md {
      max-width: 40%;
    }
    @include mq-lg {
      max-width: $card-width;
      height: $card-height;
      margin: $outer-margin;
      margin-top: $outer-margin/2;
      margin-bottom: $outer-margin;
      &:nth-child(odd) {
        margin-right: $outer-margin/2;
        .head::after {
          @extend %arrow;
          border-left-width: 15px;
          border-left-style: solid;
          left: 100%;
        }
        .head::before {
          @extend %marker;
          left: $marker-dist + 1;
        }
      }
      &:nth-child(even) {
        margin-left: $outer-margin/2;
        .head::after {
          @extend %arrow;
          border-right-width: 15px;
          border-right-style: solid;
          right: 100%;
        }
        .head::before {
          @extend %marker;
          right: $marker-dist - 1;
        }
      }
      &:nth-child(2) {
        margin-top: $stagger;
      }
    }

    .head {
      position: relative;
      display: flex;
      align-items: center;
      color: #fff;
      font-weight: 400;
      .number-box {
        display: inline;
        float: left;
        margin: $inner-margin;
        padding: 10px;
        font-size: $number-size;
        line-height: $number-size;
        font-weight: 600;
        background: rgba(0, 0, 0, 0.17);
      }
      h2 {
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: inherit;
        letter-spacing: 2px;
        margin: 0;
        padding-bottom: 6px;
        line-height: 1rem;
        @include mq-sm {
          font-size: 165%;
          line-height: 1.2rem;
        }
        span {
          display: block;
          font-size: 0.6rem;
          margin: 0;
          @include mq-sm {
            font-size: 0.8rem;
          }
        }
      }
    }
    .body {
      background: #fff;
      border: $border;
      border-top: 0;
      padding: $inner-margin;
      @include mq-lg {
        height: $body-height;
      }
      p {
        color: black;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: $inner-margin;
      }
      img {
        display: block;
        height: 35vh;
        width: 30vw;
      }
    }
    @for $i from 1 through $items {
      &--step#{$i} {
        $color: nth($colors, ((($i - 1) % 4) + 1));
        background-color: $color;
        .head::after {
          border-color: $color;
        }
      }
    }
  }
}

.comparison-table {
  text-align: center;
  margin: 20px 0px 20px 0px;
  .comparison-column {
    padding: 5vw;
    width: 25vw;
    height: auto;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
    background: rgb(243, 243, 243);
  }

  ul {
    li {
      padding-bottom: 1.2em;
      font-size: 1.4em;
      margin: 20px 0px 20px 0px;
      color: black;
      border-bottom: 1px solid black;
    }
  }
}

.alternating-info {
  position: relative;
  height: 100vh;
  width: 100vw;

  .info-right {
    position: relative;
    height: 100vh;
    width: 60vw;
    float: right;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    background: linear-gradient(
      0.25turn,
      $primary-color,
      $tertiary-color,
      $secondary-color
    );
  }
  .info-left {
    position: relative;
    height: 100vh;
    width: 60vw;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    background: linear-gradient(
      0.75turn,
      $primary-color,
      $tertiary-color,
      $secondary-color
    );
  }

  .info-center {
    height: 100vh;
    width: 100vw;
  }

  .info-pic {
    position: absolute;
    border-radius: 10%;
    z-index: 5;

    &.left {
      top: 15%;
      height: 70vh;
      width: 50vw;
      left: 5%;
    }
    &.right {
      top: 15%;
      height: 70vh;
      width: 50vw;
      right: 5%;
    }

    &.center-left {
      top: 20%;
      height: 60vh;
      width: 30vw;
      left: 2%;
    }

    &.center-right {
      top: 20%;
      height: 60vh;
      width: 35vw;
      right: 2%;
    }
  }

  .info-text {
    width: 25vw;
    position: absolute;
    top: 20%;
    z-index: 10;
    .title {
      font-size: 4em;
    }
    .info {
      font-size: 1.2em;
    }

    &.center {
      left: 35%;
      text-align: center;
      .title {
        color: black;
      }
      .info {
        color: black;
      }
    }

    &.right {
      left: 35%;
    }
    &.left {
      right: 35%;
    }
    &.right,
    &.left {
      .title {
        color: white;
      }
      .info {
        color: white;
      }
    }
  }
}

$dash-size: 5px;

.hotspot-container {
  margin-top: 8%;
  position: relative;
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  color: black;
}

.lg-container {
  width: 50%;
  position: relative;
}

.lg-image {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 10%;
}

.lg-hotspot {
  position: absolute;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%);
  z-index: 0;
  &:hover,
  &:active {
    .lg-hotspot__button {
      border-color: $colorButtonHover;
      &:after {
        background-color: $colorButtonHover;
      }
    }
  }
  &--selected {
    z-index: 999;
    .lg-hotspot__label {
      opacity: 1;
    }
  }
  &__button {
    height: $buttonRadius * 2;
    width: $buttonRadius * 2;
    padding: 0px;
    border-radius: 100%;
    border: 1px solid $colorButton;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 999;
    animation: button-pulse 7s ease-in-out infinite;
    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
      content: "";
      display: block;
      height: $buttonRadius * 0.7;
      width: $buttonRadius * 0.7;
      border-radius: 100%;
      border: 3px solid white;
      background-color: $colorButton;
      transition: border-color 1s linear;
    }
  }
  &__label {
    position: absolute;
    padding: 0 0 1.1em 0;
    width: 16em;
    max-width: 50vw;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: "Open Sans", sans-serif;
    font-size: 14.5px;
    line-height: 1.45em;
    z-index: -1;
    pointer-events: none;
    border-radius: $labelBorderRadius;
    user-select: none;
    opacity: 0;
    transition: all $labelFade linear;
    h4 {
      margin: 0;
      padding: 0.65em $labelPaddingX;
      background-color: $colorHeadingBackground;
      font-size: 1.1em;
      font-weight: normal;
      letter-spacing: 0.02em;
      color: white;
      border-radius: $labelBorderRadius $labelBorderRadius 0 0;
    }
    p {
      margin: 0;
      padding: 1.1em $labelPaddingX 0 $labelPaddingX;
      color: $colorText;
    }
  }
}

.lg-hotspot--top-left .lg-hotspot__label {
  top: $buttonRadius;
  left: $buttonRadius;
}

.lg-hotspot--top-right .lg-hotspot__label {
  top: $buttonRadius;
  right: $buttonRadius;
}

.lg-hotspot--bottom-right .lg-hotspot__label {
  right: $buttonRadius;
  bottom: $buttonRadius;
}

.lg-hotspot--bottom-left .lg-hotspot__label {
  bottom: $buttonRadius;
  left: $buttonRadius;
}

@keyframes button-pulse {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  40% {
    transform: scale(1.15, 1.15);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

.final-info {
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 20vh;
  img {
    height: 60vh;
    width: auto;
    margin: auto;
  }
}
