
$primary-color: #05C7F2;
$secondary-color: #262A73;
$tertiary-color: #2E3F8E;
$accent-color: #1E2159;

$primary-mint-color: #05C7F2;
$secondary-mint-color: #0FA644;
$tertiary-mint-color: #3365A6;
$accent-mint-color: #03A688;

$buttonRadius: 24px;
$labelPaddingX: $buttonRadius * 1;
$labelBorderRadius: 2px;
$labelFade: 0.1s;
$colorButton: $primary-color;
$colorButtonHover: $secondary-color;
$colorText: #333;
$colorHeadingBackground: #555;

$bg-color-1: #F2F2F2;
$bg-color-2: rgb(221, 221, 221);

.info-header {
  background: $tertiary-color;
}


.hotspot-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.lg-container {
  position: relative;
}

.lg-image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

.lg-hotspot {
  position: absolute;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%);
  z-index: 0;
  &:hover,
  &:active {
    .lg-hotspot__button {
      border-color: $colorButtonHover;
      &:after {
        background-color: $colorButtonHover;
      }
    }
  }
  &--selected {
    z-index: 999;
    .lg-hotspot__label {
      opacity: 1;
    }
  }
  &__button {
    height: $buttonRadius * 2;
    width: $buttonRadius * 2;
    padding: 0px;
    border-radius: 100%;
    border: 1px solid $colorButton;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 999;
    animation: button-pulse 7s ease-in-out infinite;
    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
      content: "";
      display: block;
      height: $buttonRadius * 0.7;
      width: $buttonRadius * 0.7;
      border-radius: 100%;
      border: 3px solid white;
      background-color: $colorButton;
      transition: border-color 1s linear;
    }
  }
  &__label {
    position: absolute;
    padding: 0 0 1.1em 0;
    width: 16em;
    max-width: 50vw;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: "Open Sans", sans-serif;
    font-size: 14.5px;
    line-height: 1.45em;
    z-index: -1;
    pointer-events: none;
    border-radius: $labelBorderRadius;
    user-select: none;
    opacity: 0;
    transition: all $labelFade linear;
    h4 {
      margin: 0;
      padding: 0.65em $labelPaddingX;
      background-color: $colorHeadingBackground;
      font-size: 1.1em;
      font-weight: normal;
      letter-spacing: 0.02em;
      color: white;
      border-radius: $labelBorderRadius $labelBorderRadius 0 0;
    }
    p {
      margin: 0;
      padding: 1.1em $labelPaddingX 0 $labelPaddingX;
      color: $colorText;
    }
  }
}

.lg-hotspot--top-left .lg-hotspot__label {
  top: $buttonRadius;
  left: $buttonRadius;
}

.lg-hotspot--top-right .lg-hotspot__label {
  top: $buttonRadius;
  right: $buttonRadius;
}

.lg-hotspot--bottom-right .lg-hotspot__label {
  right: $buttonRadius;
  bottom: $buttonRadius;
}

.lg-hotspot--bottom-left .lg-hotspot__label {
  bottom: $buttonRadius;
  left: $buttonRadius;
}

@keyframes button-pulse {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  40% {
    transform: scale(1.15, 1.15);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}